*{
    margin:0;
    padding:0;
}

body{
    min-height:100vh;
    width:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width:50%;
    color:white;
    transform:translateY(-50%);
}

.taskSubmit{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.taskInput{
    background-color: #a34807;
    padding:10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.enterTask{
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

.taskInput h2{
    margin:20px 0;
    letter-spacing: 3px;
}

.task{
    width:85%;
    padding:8px;
    font-size:15px;
    user-select: none;
}

.taskSubmit input:focus{
    outline: none;
}

.btn{
    width:10%;
    font-size:13px;
    height:34px;
    padding:3px 5px;
}

.task,.btn{
    border:none;
}

.btn{
    background-color:#f1cf72;
    font-weight: 700;
    text-align: center;
    cursor:pointer;
    transition: background-color 500ms;
}
.btn:hover{
    background-color: #e2c26a;
}

.taskList{
    color:black;
    list-style-type: none;
}

.taskList li{
    padding:0 10px; 
    padding-bottom: 3px;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.taskBtns{
    display: flex;
}

.editBtn,.delBtn{
    text-decoration: none;
    padding:5px;
    margin: 0 5px;
    width:58px;
    text-align: center;
    font-size:12px;
    font-weight:700;
    color:white;
    border-radius: 3px;
    transition: background-color 500ms;
}

.editBtn{
    cursor:pointer;
    background-color: #48c448;
}
.delBtn{
    cursor:pointer;
    background-color: #d0552c;
}
.editBtn:hover{
    background-color: #43b643;
}
.delBtn:hover{
    background-color: #c5512a;
}

.taskList li:nth-of-type(2n){
    background-color: #cbcac9;
}

.taskList li:nth-of-type(2n+1){
    background-color: #ece9e4;
}

.footer{
    position: absolute;
    bottom:0px;
    font-size: 15px;
    height:35px;
    width:100%;
    background-color:#161132;
    text-align:right;
    display:flex;
    align-items: center;
    flex-direction: row-reverse;
}

.footer-tag{
    margin-right:10px;
    color:rgb(234, 233, 233);
}

@media only screen and (max-width: 760px) {
    .container{
        width:90%;
        transform:transateY(-100%);
    }
}

@media only screen and (max-width: 480px) {
    .enterTask{
        width:97%;
    }
}

input[type='checkbox']{
     height: 0; width: 0; 
}

input[type='checkbox'] + label{
  position: relative;
  display: flex;
  margin: 10px 0;
  margin-top:0px;
  align-items: center;
  color: #9e9e9e;
  transition: color 250ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox'] + label > ins{
  position: absolute;
  display: block;
  bottom: 0;
  left: 2em;
  height: 0;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  transition: height 300ms cubic-bezier(.4,.0,.23,1);
}
input[type='checkbox'] + label > ins > i{
  position: absolute;
  bottom: 0;
  font-style: normal;
  color: #208cbe;
}
input[type='checkbox'] + label > span{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1em;
  width: 1em;
  height: 1em;
  background: transparent;
  border: 2px solid #5e5d5d;
  border-radius: 2px;
  cursor: pointer;  
  transition: all 250ms ease-in;
}

input[type='checkbox'] + label:hover, input[type='checkbox']:focus + label{ color: #000; }

input[type='checkbox'] + label:hover > span, input[type='checkbox']:focus + label > span{ background: rgba(255,255,255,.1); }

input[type='checkbox'].active + label > ins{ height: 100%; }

input[type='checkbox']+ label > ins > i{ transform: translateX(3px); }

input[type='checkbox'].active + label > ins > i{ transform: translateX(3px); }

input[type='checkbox'].active + label > span{
  background-color:#FFEB3B;
  border:2px solid black;
  border-radius:3px;
  animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
}

input[type='checkbox'].active + label > span{
    &::before{
    content: "";
    position: absolute;
    top: .6em;
    left: .2em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
}
    &.no-before::before{ display:none; }
}

@keyframes shrink-bounce{
  0%{
    transform: scale(1);
  }
  33%{    
    transform: scale(.85);
  }
  100%{
    transform: scale(1);    
  }
}
@keyframes checkbox-check{
  0%{
    width: 0;
    height: 0;
    border-color: #212121;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  33%{
    width: .2em;
    height: 0;
    transform: translate3d(0,0,0) rotate(45deg);
  }
  100%{    
    width: .2em;
    height: .5em;    
    border-color: #212121;
    transform: translate3d(0,-.5em,0) rotate(45deg);
  }
}

.taskDone{
    padding-top:0;
    height:100%;
    width:70%;
    font-size:12px;
}

.taskDone label{
    display: block;
    height: 100%;
    width:80%;
    background-color: transparent;
}

@media only screen and (max-width: 480px) {
    .container{
        width:90%;
        transform:transateY(-100%);
    }
    .taskInput h2{
        font-size:23px;
    }
    .task{
        padding:5px;
        font-size:13px;
    }
    .btn{
        width:13%;
        font-size:13px;
        height:26px;
        padding:2px 5px;
    }
    .taskBtns{
        justify-content: flex-end;
        margin-right:3px;
    }
    .editBtn,.delBtn{
        font-size:11px;
        width:50px;
        margin-right:2px
    }
    input[type='checkbox'] + label{
        font-size:11.5px;
    }
    input[type='checkbox'] + label > ins{
        font-size:11.5px;
        transform: translate(-4.5px,-1px);
    }
    .listT span{
        margin-right:7px !important;
        
    }

}
